.career-voyage-container {
    background-color: white;
    padding: 20px;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
    border-radius: 12px;
    padding: 10px;
}

.career-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.skill-analysis,
.career-path-simulator,
.emerging-trend-forecast {
    background: linear-gradient(0deg, #3f2182, #a897cb);
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.skill-analysis {
    height: 50vh;
    /* Adjust this to control the height */
    background: linear-gradient(90deg, #3f2182, #a897cb);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* Stack content vertically */
    /* Push the button to the bottom */
    align-items: center;
    /* Center everything horizontally */
}

.quiz-button {
    /* Button color */
    background-color: #D3C4BE;
    color: black;
    border: none;
    padding: 0px 10px;
    font-size: 16px;
    border-radius: 8px;
    /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Smooth hover effect */
    height: 8%;
    margin-bottom: 5px;
}

.quiz-button:hover {
    background-color: grey;
    /* Darker color on hover */
}

.skill-image {
    max-width: 200%;
    /* Ensures the image is responsive */
    /* Maintains aspect ratio */
    height: 40%;
    /* Space between the image and the button */
    object-fit: contain;
}

.career-path-simulator,
.emerging-trend-forecast {
    grid-column: span 1;
}

.career-path-simulator p,
.emerging-trend-forecast p {
    font-size: 16px;
}

.forecast-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.forecast-details p {
    text-align: center;
    font-size: 14px;
    color: #d3cde6;
}